
body{
    background-image: url("../img/background.jpg");
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#wrapper {
    display: grid;
    grid-template-areas: 
        "title"
        "content"
        "main"
        "footer" ;
}

@media screen and (min-width: 40em) { 
    #wrapper {
        grid-template-columns: 3fr 6fr;
        grid-template-areas: 
            "title title"
            "content content"
            "main main"
            "footer footer" ;
        grid-gap: 1em;
        padding: 10px;
    }
        #searchButton {
            margin-top: 2.2em;
        }

        #titlePage {
        width: 43%;
    }
}

@media (min-width: 60em) {
	#wrapper {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"title  title  title"
		"content  content  content"
		"main  main  main"
		"footer  footer  footer";
	}
    .card {
        width: 33.33%; 
    }
    #titlePage {
        width: 40%;
    }
    #searchButton {
        margin-top: 2.3em;
    }
}

@media only screen and (max-width: 600px) {
    #titlePage{
        font-size: 15px;
        width: 45%;
    }
    #searchBar {
        width: 50%;
        font-size: 10px;
    }
    #searchButton {
         margin-top: 1.5em;
    }
}

.title {
    grid-area: title;
    text-align: center;
}

.content {   
    grid-area: content;  
    width: 100%;
    text-align: center; 
}

main {
    grid-area: main;
    min-height:100vh;
}

.footer {
    grid-area: footer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
	display: flex;
}

.cardContent {
	flex-direction: column;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 1.25em 1.25em 0.3em 0;
	padding: 1em;
    background-color: #F0E68C;
    border: 0.2em solid black;
    box-shadow: 5px 5px 2.5px black;
}

.cardContent img{
    max-width: 100%;
    display: block;
    height: 25em;
    margin: 0 auto;
    
}

#stylePlace {
    text-align: center;
    min-height: 140px;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
    padding: 1em;
    background-color: #EEE8AA;
    border-color: black;
}

#objectID {
    color: black;
}

.cardTitle {
    display: flex;
    align-items: center;
    min-height: 36px;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1em;
    padding: 1em;
    background-color: #EEE8AA;
}

#titlePage {
    color: black;
    background-color:  brown;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2.5px 5px 5px 2.5px black;
}


#logo {
    background-color:  brown;
    border-radius: 0.5em;
    width: 25%;
}

#searchBar {
    width: 50%;
    margin-top: 2em;
    border: 5px solid #1578EA;
    padding: 0.5em;
    height: 2.5em;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
    overflow: auto;
    position: relative;
}

.searchTerm:focus{
    color: #00B4CC;
}

#searchButton {
    width: 2em;
    position: absolute;
    margin-left: 0.3em;
    overflow: auto;
    cursor: pointer;

}
.cardPlace p{   
    border-bottom: 1em solid;
}
#footer{
    color: white;
}